* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* HEADER */
header{
    width: 100%;
    height: 250px;
    background: #dcdcdc;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}
.header_container_1 {
    display: flex;
    align-items: center;
    margin: 50px 0px 0px 10px ;

}

.header_logo img{
    width: 100px;
    height: 100px;

}

.header_text {
    text-transform: uppercase;
    color: #7A7A7A;
    font-weight: 800;
    font-size: 150%;
    cursor: pointer;
    padding: 10px;

}

.header_text_nowrap {
    white-space: nowrap;
    margin-top: 5%;
    font-size: 14px;
}

.header_container_2 {
    align-items: center;
    margin: -130px 0px 0px 600px;

}

.header_number_phone a {
    color: #707070;
    font-size: 40px;

}

.header_feedback a {
    color: #707070;
    font-size: 24px;
    float: right;
    margin-top: -10px;
    text-align: center;
    background-image: linear-gradient(to right, #707070 75%, transparent 75%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
}
.main{
    flex: 1 1 auto;
}
/* MENU */
menu {
    width: 100%;
    height: 80px;
    background: #777777;
}
.menu_list{
    max-width: 980px;
    position: relative;
    z-index: 2;
}
.menu_burger {
    display: none;
    margin-top: 10px;
}
.menu_link {
    text-align: center;
    width: 100%;
    height: 100%;
}
.menu_list ul {
    text-align: center;
}
.menu_link {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}

.menu_list a {

    color: white;
}
.menu_list a:hover {
    border-bottom: 2px solid white;
}
.menu_list li {
    margin: 0px 0px 0px 10px;
    color: white;
}

.menu_list {
    display: inline-flex;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
    background-color: #777777;
}


@media (max-width: 991px) {
    .menu_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 0% 0% 0% 49%;

    }
    .menu_icon_burg {
        padding-top: 30px;
    }
    .menu_burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .menu_burger:before,
    .menu_burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .menu_burger:before {
        top: 0;
    }

    .menu_burger:after {
        bottom: 0;
    }

    .menu_burger.active span {
        transform: scale(0);
    }

    .menu_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu_link {
        display: none;
    }
    ul.menu_list {
        display: block;

    }
    .menu_link.active {
        display: block;
        max-height: 400px;
        background-color: #777777;
        transition: all 0.3s ease 0s;

    }
}
/* SLIDER */
.slider{
    width: 100%;
    background: #F8F8F8;

    height: 375px;
    position: relative;
}

.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px;
    font-size: 0;
    width: 34px;
    height: 58px;

}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../images/arr-l.jpg") 0 0 / 100% no-repeat;
    margin-left: 450px;
    z-index: 1000;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url("../images/arr-r.jpg") 0 0 / 100% no-repeat;
    margin-right: 450px;
    z-index: 1000;
}
.slider_item{
    transition: all 0.3s ease 0s;
    text-align: center;
    max-width: 100%;
}

.slider_item img{
    max-width: 100%;
    max-height: 375px;
}
@media (max-width: 1800px){
 .slider .slick-arrow.slick-prev{
     margin-left: 150px;
 }
    .slider .slick-arrow.slick-next{
        margin-right: 150px;

    }
}
/* CONTENT */
#content{
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}


.left_block_list_nav ul,a{
    color: #767676;
    font-size: 14px;
    margin-top: 10px;

}
.left_block_navigation_page {
    white-space: nowrap;
}
.left_block_content1 p{
    color: #767676;
    font-size: 20px;
    margin-top: 25px;
}
.left_block.left_block_content2{
    margin-top: 30px;
    position: absolute;
}
.left_block_content2 li{
    font-size: 20px;
    margin-top: 10px;
}

.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    color: #767676;
    cursor: pointer;
    display: inline-block;
}
.hide:checked + label {
    color: #767676;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block;

}
.hide:checked + label + div a:hover {
    color: black;

    text-decoration: underline;
}
.left_block_content2 .hide{
    font-size: 20px;
}
.left_block_content2 .hide li a:hover{
    color: black;
    text-decoration: underline;

}
.left_block_content_3 .content_img{
    margin-top: 110px;
    margin-left: 35px;
}
.left_block_content_3_1 a{
    margin-left: 5px;
    text-align: center;
    font-size: 30px;
    color: #444444;
    font-weight: 700;
}

.content_center_block{
    margin: 55px 0px 0px -15px;
}
.center_block_content_4{
    display: flex;
}
.center_block_content_4 .center_block_content_4_product_1{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;

}
.center_block_content_4 .center_block_content_4_product_1 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.center_block_content_4 .center_block_content_4_product_1 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.content_text{
    font-size: 18px;
    color: #767676;
    margin: 15px 0px 0px 20px;
}
.price_1{
    font-size: 28px;
    color: #444444;
    margin: 30px 0px 0px 20px;
}
.center_block_content_4 .center_block_content_4_product_2{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 10px;

}
.center_block_content_4 .center_block_content_4_product_2 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.center_block_content_4 .center_block_content_4_product_2 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.center_block_content_4 .center_block_content_4_product_3{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 10px;
}
.center_block_content_4 .center_block_content_4_product_3 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.center_block_content_4 .center_block_content_4_product_3 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.center_block_content_5{
    display: flex;
}
.center_block_content_5 .center_block_content_5_product_4{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-top: 20px;
}
.center_block_content_5 .center_block_content_5_product_4 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.center_block_content_5 .center_block_content_5_product_4 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.center_block_content_5 .center_block_content_5_product_5{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 15px;
    margin-top: 20px;
}
.center_block_content_5 .center_block_content_5_product_5 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.center_block_content_5 .center_block_content_5_product_5 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.content_center_block .center_block_numb_cont{

    margin: 30px 0px 0px 300px;
    word-spacing: 15px;
    color: #767676;
    font-size: 14px;
}
.center_block_numb_cont .numb_3{
    font-size: 18px;
}

.content_center_block hr{
    width: 780px;
    margin: 60px 0px 0px 0px;
}
.center_block.center_block_content_6{
    display: flex;
    margin-top: 30px;
    margin-left: 0px;

}
.center_block_content_6_text1{
    margin-top: 30px;
    width: 370px;
    height: 300px;
    font-size: 15px;
    color: #767676;
}
.center_block_content_6_text2{
    width: 370px;
    height: 300px;
    font-size: 15px;
    margin: -300px 0px 0px 410px;
    color: #767676;
}
@media (max-width: 1440px) {
    .content_center_block{
        margin-left: -30px;
    }
    .content_center_block .center_block_numb_cont {
        margin-left: 210px;
    }

    .center_block_content_5 hr {
        width: 710px;
        margin-left: 0px;
    }

    .content_center_block.center_block_content_6 {
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
    }

    .center_block_content_6_text1 {
        margin-top: 30px;
        width: 220px;
        height: 500px;
    }
    .center_block_content_6_text2{
        width: 370px;
        height: 300px;
        font-size: 15px;
        margin: -495px 0px 0px 310px;
        color: #767676;
    }
}
/* FOOTER */
footer{
    display: inline-block;
    height: 220px;
    background-color: #767676;
    position: relative;
    width: 100%;
}
.footer{
    max-width: 980px;
    margin: 0 auto;
}
.footer_text_1{
    display: block;
    margin: 50px 0px 0px 10px;
}
.footer_text_2 p{
    width: 350px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
}
.footer_text_2{
    display: block;
    margin:-50px 0px 0px 500px;
}
.footer_text_2 li a{
    width: 205px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 400;
}
.footer_text_3{
    display: block;
    margin:-120px 0px 0px 790px;
}
.footer_text_3 .company_img img{
    width: 36px;
    height: 38px;
}
.company_title1{
    margin: -46px 0px 0px 38px;
    color: #ffffff;
}
.company_title1 a{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 400;
}
.company_title2{
    margin: 0px 0px 0px 38px;
}
.company_title2 p{
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
}
@media (max-width: 1440px){
    footer{
        display: inline-block;
        height: 220px;
        background-color: #767676;

    }
    .text_1{
        margin: 50px 0px 0px 105px;
    }
    .text_2{
        margin: -50px 0px 0px 355px;
    }
    .text_3{
        margin:-120px 0px 0px 700px;
    }
}
/* FEEDBACK */
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}


.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}


.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}


.dm-modal {
    display: inline-block;
    padding: 20px;
    width: 465px;
    height: 575px;
    font-size: 24px;
    text-transform: uppercase;
    color: #535353;
    font-weight: 700;
    background: #ffffff;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.modal_content{
    background-color: white;
    padding: 10px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    margin: 30px 0px 0px 0px;
}
.modal_content form{
    display: block;
}
.modal_content ul{
    font-size: 14px;
    color: #535353;
    font-weight: 400;
    text-transform: initial;
}

.dm-modal h3{
    margin-left: 40px;
}
.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #cfd8dc;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;

}
.close:after {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #cfd8dc;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    margin: -63px 0px 0px 50px;
    background: #707070;
}


.close:hover:after {
    border-color: #fff;
    color: #fff;
    width: 30px;
    height: 30px;
    -ms-transform: scale(1);
    transform: scale(1);
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
.modal_content li{
    margin-top: 10px;
}
input[type="text" i],[type="tel" i],[type="email" i] {
    padding: 1px 10px;
    width: 340px;
    height: 40px;
}
input[type="message" i] {
    padding: 1px 10px;
    width: 340px;
    height: 140px;
}

button{
    width: 130px;
    height: 40px;
    margin-top: 10px;
    background-color: #707070;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}